REACT_APP_SNAPSHOT_SUBGRAPH=https://api.thegraph.com/subgraphs/name/snapshot-labs/snapshot
REACT_APP_SNAPSHOT_GRAPHQLAPI=https://hub.snapshot.org/graphql
REACT_APP_PROOF_OF_HUMANITY_SUBGRAPH=https://api.thegraph.com/subgraphs/name/kleros/proof-of-humanity-mainnet
REACT_APP_INFURA_RPC=https://mainnet.infura.io/v3/{key}